<div id="comment-{{ comment.id }}" class="ms-{{ level|default:0 }} mt-3">
    <div class="card">
        <div class="card-body">
            <small class="text-muted">
                <strong>{{ comment.user }} · {{ comment.created_at|timesince }} ago</strong>
            </small>
            {% if comment.parent %}
            <small class="text-muted">
                Replying to <strong>@{{ comment.parent.user.username }}</strong>
            </small>

            <!-- for edit replys and reply on reply too -->
            <div id="edit-form-{{ comment.id }}" class="d-none mt-2">
                <textarea class="form-control mb-2" id="edit-text-{{ comment.id }}">{{ comment.comment }}</textarea>

                <button class="btn btn-sm btn-primary" onclick="submitEdit({{ comment.id }})">
                    Save
                </button>

                <button class="btn btn-sm btn-secondary" onclick="toggleEditForm({{ comment.id }})">
                    Cancel
                </button>
            </div>

            <!-- fordelete comment in all other reply of main comment and another reply comments -->

            {% if request.user == comment.user %}
            <button class="btn btn-link p-0 text-success" onclick="toggleEditForm({{ comment.id }})">
                <i class="fa fa-edit"></i>
            </button>&nbsp;
            <button type="button" class="btn btn-link text-danger p-0 ms-2" onclick="deleteComment({{ comment.id }})">
                <i class="fa fa-trash text-danger"></i>
            </button>
            {% endif %}



            {% endif %}
            <p>{{ comment.comment }}</p>

            <!-- Reply button -->
            <button type="button" class="btn btn-link p-0" onclick="toggleReplyForm('{{ comment.id }}')">
                Reply
            </button>

            <!-- Reply form -->
            <form method="POST" class="mt-2 d-none" id="reply-form-{{ comment.id }}">
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <textarea name="comment" class="form-control mb-2" rows="2" placeholder="Write a reply..."
                    required></textarea>
                <button type="submit" class="btn btn-sm btn-primary">Reply</button>
            </form>

        </div>
    </div>


    <!-- 🔁 RECURSION HAPPENS HERE -->
    {% for reply in comment.replies.all %}
    {% include 'blogs/comment.html' with comment=reply level=level|add:1 %}
    {% endfor %}
</div>