{% extends 'base.html' %}


{% block content %}
  <h1>Search Results for "{{ keyword }}"</h1>
{%if results %}
{% for post in results %}
<div class="card border-0">
    <div class="card-body">
        <h3> <a href="{% url 'blogs' post.slug %}" class="text-dark">{{ post.title }} </a> </h3>
        <small class="mb-1 text-muted">{{ post.created_at | timesince}} ago | {{ post.author }} | Updated at: {{
            post.updated_at }}</small>
        <p class="card-text">{{ post.short_description|truncatechars:20 }}...</p>
    </div>
</div>
{% endfor %}
{% else %}
<p>No posts available in this category.</p>
{% endif %}
{% endblock %}